In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [80]:
# Connect web brouser to the web brouser package 
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [3]:
driver=webdriver.Chrome(r'chromedriver.exe')

# QUESTION 1 AND 2

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    job_title.append(i.text)

companyname= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companyname[0:10]:
    company_name.append(i.text)

Joblocation=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in Joblocation[0:10]:
    job_location.append(i.text)
    
experience=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience[0:10]:
    experience_required.append(i.text)

In [10]:
print(len(job_title),len(company_name), len(job_location),len(experience_required))

10 10 10 10

In [11]:
df1=pd.DataFrame({'Job Title':job_title,'Company Name':company_name, 'Job Location':job_location,'Experience required':experience_required})
df1

,Job Title,Company Name,Job Location,Experience required
0,Data Analyst,Spire Technology,Hybrid - Bangalore/Bengaluru,0-0 Yrs
1,Data Analyst,Novitas Infotech,Permanent Remote,3-8 Yrs
2,Hiring For Data Analyst,Absolutdata,Hybrid - Bangalore/Bengaluru,4-6 Yrs
3,Data Analyst- Yulu Energy,Yulu Bikes,Bangalore/Bengaluru,0-1 Yrs
4,Data Analyst,Entrupy,Bangalore/Bengaluru,1-3 Yrs
5,Urgently required Data analyst - Microsoft Azure,Golden Future Technologies,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",5-10 Yrs
6,Data Analyst,Quotient Four Technologies,Bangalore/Bengaluru,3-6 Yrs
7,Data Analyst,Spire Technology,Hybrid - Bangalore/Bengaluru,2-5 Yrs
8,Data Analyst,Adecco Group,Bangalore/Bengaluru,5-10 Yrs
9,Data Analyst Databricks,Optum,Bangalore/Bengaluru,4-6 Yrs

# QUESTION 3

In [13]:
driver.get('https://www.naukri.com/')

In [14]:
designation=driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Analyst')

In [15]:
location_d=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location_d.send_keys('Delhi/NCR')

In [16]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [17]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [18]:
location=[]
job_title=[]
company_name=[]
Experience=[]

In [19]:
location_d=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_d[0:10]:
    location.append(i.text)

job=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job[0:10]:
    job_title.append(i.text)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text)
    
Experience1=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in Experience1[0:10]:
    Experience.append(i.text)

In [20]:
print(len(location),len(job_title),len(company_name),len(Experience))

10 10 10 10

In [21]:
ddf=pd.DataFrame({'Location':location,'Job title':job_title,'Company':company_name,'Experience':Experience})
ddf

,Location,Job title,Company,Experience
0,Noida,Data Analyst,Paytm,2-4 Yrs
1,"Delhi / NCR, Gurgaon/Gurugram",Data Analyst,Goibibo,1-4 Yrs
2,"Noida, Ghaziabad, Greater Noida",Data Analyst,ITS The Education Group,1-4 Yrs
3,Permanent Remote,Data Analyst,Techplus Media,3-5 Yrs
4,Gurgaon/Gurugram,Data Analyst,GM Analytics Solutions,2-5 Yrs
5,Delhi / NCR(Sector-63 Gurgaon),Data Analyst: US MNC in solar power,New Vistas (recruitment Consulting),2-6 Yrs
6,New Delhi(Okhla),Hiring For Data Analyst at Indospirit Okhla,Indospirit,2-7 Yrs
7,"Delhi / NCR, New Delhi, Gurgaon/Gurugram",Data Analyst,P E Analytics Ltd,0-2 Yrs
8,Delhi / NCR(Azadpur),Data Analyst,KRM Ayurveda,3-8 Yrs
9,"Delhi / NCR, Kolkata, Indore, Hyderabad/Secund...",Data Analyst,Quickxpert Infotech,0-5 Yrs

# QUESTION 4

In [70]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [71]:
driver.get('https://www.flipkart.com/')

In [72]:
opt=driver.find_element(By.CLASS_NAME,'fk-modal-visible')
opt.click()

In [73]:
mob=driver.find_element(By.CLASS_NAME,'fk-modal-visible')
mob.send_keys('8975513923')
mob.click()

CANCELL THE REGISTRATION BY MANUALLY

In [74]:
search=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sunglasses')

In [75]:
search_c=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_c.click()

In [76]:
brand=[]
discription=[]
price=[]

In [77]:
start=0
end=3
for page in range(start, end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name[:100]:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)
for page in range(start, end):
    discription_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in discription_name[:100]:
        discription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)
for page in range(start, end):
    price_p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_p[:100]:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [78]:
print(len(brand),len(discription), len(price))

120 120 120

In [79]:
df4=pd.DataFrame({'Brand':brand,'Product Discription':discription,'Price':price})
df4.head()

           Brand Product Discription Price
0  VINCENT CHASE                SRPM  ₹129
1  VINCENT CHASE            Fastrack  ₹999
2       Fastrack            Fastrack  ₹745
3      Elligator       VINCENT CHASE  ₹539
4       Fastrack              SUNBEE  ₹149

# QUESTION 5

In [41]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [36]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [37]:
rating=[]
review=[]
summary=[]

In [38]:
start=0
end=10
for page in range(start,end):
    rating_1=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_1:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)
    review_1=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_1:
        review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)
    summary_1=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in summary_1:
        summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [39]:
print(len(rating),len(review),len(summary))

100 100 100

In [40]:
df5=pd.DataFrame({'Review': review, 'Rating Summary':rating,'Full Review':summary})
df5

,Review,Rating Summary,Full Review
0,Simply awesome,5,This is my first iOS phone. I am very happy wi...
1,Perfect product!,5,Best and amazing product.....phone looks so pr...
2,Best in the market!,5,"i11 is worthy to buy, too much happy with the ..."
3,Value-for-money,4,It’s a must buy who is looking for an upgrade ...
4,Highly recommended,5,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,Value-for-money,5,Previously I was using one plus 3t it was a gr...
96,Perfect product!,5,Value for money\n5 star rating\nExcellent came...
97,Highly recommended,5,What a camera .....just awesome ..you can feel...
98,Highly recommended,4,I was using Iphone 6s and also Oneplus 6t. Bot...
99,Perfect product!,5,Amazing Powerful and Durable Gadget.\n\nI’m am...

# QUESTION 6

In [81]:
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [82]:
brand6=[]
prize6=[]
discription6=[]

In [83]:
start=0
end=3
for i in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        brand6.append(i.text)
    next1=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next1.click()
    time.sleep(2)

In [84]:
start=0
end=3
for i in range(start, end):
    prise=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in prise:
        prize6.append(i.text)
    next1=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next1.click()
    time.sleep(2)

In [85]:
start=0
end=3
for i in range(start, end):
    prise=driver.find_elements(By.XPATH,'//div[@class="_1a8UBa"]')
    for i in prise:
        discription6.append(i.text)
    next1=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next1.click()
    time.sleep(2)

In [86]:
print(len(brand6),len(prize6),len(discription6))

107 105 114

In [87]:
brand=brand6[:100]
prize=prize6[:100]
discription=discription[:100]

In [89]:
df6=pd.DataFrame({'Brand':brand,'Prize':prize,'Discription':discription})
df6

          Brand         Prize     Discription
0            TR  K' Footlance            SRPM
1   kardam&sons         BIRDE        Fastrack
2        BRUTON      BERSACHE        Fastrack
3         BIRDE   kardam&sons   VINCENT CHASE
4           SFR        Layasa          SUNBEE
..          ...           ...             ...
95       Layasa         asian       CART2DEAL
96  kardam&sons   bacca bucci       Elligator
97       Layasa        Layasa  ROZZETTA CRAFT
98       Shozie        Kraasa           NuVew
99        BIRDE         Sparx   VINCENT CHASE

[100 rows x 3 columns]

# QUESTION 7

In [109]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [91]:
driver.get('https://www.amazon.in/')

In [92]:
sea=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
sea.send_keys('Laptop')

In [93]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [94]:
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[3]/span/a')
search1.click()

In [95]:
title=[]
rating=[]
prize=[]
title1=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title1:
    title.append(i.text)
rating1=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating1:
    rating.append(i.text)
prize1=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prize1:
    prize.append(i.text)

In [96]:
len(title),len(rating),len(prize)

(24, 31, 31)

In [97]:
title1=title[:10]
rating1=rating[:10]
prize1=prize[:10]

In [98]:
df7=pd.DataFrame({'Title':title1,'Rating':rating1,'Prize':prize1})
df7

                                               Title Rating     Prize
0  Lenovo Ideapad Gaming 3 AMD Ryzen 5 5600H 15.6...    4.3    68,500
1  Lenovo IdeaPad Gaming 3 Intel Core i5 11th Gen...    4.2    64,990
2  HP 240 G8 Laptop PC with I3 11th Gen (1115G4)/...    4.6    34,990
3  Lenovo Ideapad Gaming 3 AMD Ryzen 5 5600H 15.6...    4.4    59,000
4  Lenovo Legion 5 AMD Ryzen 7 5800H 15.6" (39.62...    2.9  1,31,990
5  Lenovo Ideapad Gaming 3 AMD Ryzen 7 5800H 15.6...    4.2  1,05,000
6  Lenovo Legion 5 Intel Core i7 11th Gen 15.6" (...    4.1    74,500
7  Lenovo IdeaPad Gaming 3 Intel Core i5 11th Gen...    5.0  1,17,990
8  Lenovo Legion 5 AMD Ryzen 7 5800H 15.6" 300Nit...    3.9  1,33,576
9  Lenovo Ideapad Slim 5 Pro AMD Ryzen NVIDIA 7 5...    4.3    87,990

# QUESTION 8

In [104]:
driver.get('https://www.azquotes.com/top_quotes.html')

In [105]:
quote=[]
Author=[]
Type=[]

In [106]:
quote1=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote1:
    quote.append(i.text)

author=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author:
    Author.append(i.text)
    
type_1=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_1:
    Type.append(i.text)

In [107]:
print(len(quote),len(Author),len(Type))

100 100 100

In [108]:
df8=pd.DataFrame({'Quate': quote,'Author':Author, 'Types of Quote':Type})
df8

,Quate,Author,Types of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# QUESTION 9

In [113]:
driver=webdriver.Chrome(r'C:\Users\Shree\Desktop\Datatrained\chromedriver.exe')

In [114]:
driver.get('https://www.jagranjosh.com/.')

In [115]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [116]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [117]:
table=[]
table1=driver.find_elements(By.XPATH,'//div[@class="table-box"]')
for i in table1:
    table.append(i.text)

In [118]:
table

["S.N.\nName\nBorn-Dead\nTerm of office\nRemark\n1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.\n2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India\n3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965\n4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-\n5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India\n6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office\n7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament\n8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term\n9.\nRajiv Gandhi\n(1944–1991)\n31 October 1984 to 2 December 1989\n5 years, 32 days\nYoungest to become PM (40 years old)\n10.\nV. P. Singh\n(1931–2008)\n2 December 1989 to 10 November 1990\n343 days\nFirst PM to step down after a vote of no confidence\n11.\nChandra Shekhar\n(1927–2007)\n10 November 1990 to 21 June 1991\n223 days\nHe belongs to  Samajwadi Janata Party\n12.\nP. V. Narasimha Rao\n(1921–2004)\n21 June 1991 to 16 May 1996\n4 years, 330 days\nFirst PM from south India\n13.\nAtal Bihari Vajpayee\n(1924- 2018)\n16 May 1996 to 1 June 1996\n16 days\nPM for shortest tenure\n14.\nH. D. Deve Gowda\n(born 1933)\n1 June 1996 to 21 April 1997\n324 days\nHe belongs to  Janata Dal\n15.\nInder Kumar Gujral\n(1919–2012)\n21 April 1997 to 19 March 1998 \n332 days\n------\n16.\nAtal Bihari Vajpayee\n(1924-2018)\n19 March 1998 to 22 May 2004 \n6 years, 64 days\n The first non-congress PM who completed a full term as PM\n17.\nManmohan Singh\n(born 1932)\n22 May 2004 to 26 May 2014   \n10 years, 4 days\n First Sikh PM\n18.\nNarendra Modi\n(born 1950)\n26 May 2014 - Present\n4th Prime Minister of India who served two consecutive tenures",
 'List of all Presidents of India List of Current Chief Ministers in India\nList of Nicknames of Indian Prime Ministers List of Chief Ministers of Karnataka (1947-2021)']

# EXPERIMENT NO. 10

In [110]:
driver.get('https://www.motor1.com/makes/')

In [111]:
data=[]
data1=driver.find_elements(By.XPATH,'//a[@class="heading-link"]')
for i in data1:
    data.append(i.text)

In [112]:
df10=pd.DataFrame(data)
df10.head(50)

                0
0           Acura
1      Alfa Romeo
2    Aston Martin
3            Audi
4         Bentley
5             BMW
6         Bugatti
7           Buick
8        Cadillac
9       Chevrolet
10       Chrysler
11          Dodge
12        Ferrari
13           Fiat
14         Fisker
15           Ford
16        Genesis
17            GMC
18      Hennessey
19          Honda
20        Hyundai
21       Infiniti
22         Jaguar
23           Jeep
24          Karma
25            Kia
26     Koenigsegg
27    Lamborghini
28     Land Rover
29          Lexus
30        Lincoln
31          Lotus
32          Lucid
33       Maserati
34          Mazda
35        McLaren
36  Mercedes-Benz
37           Mini
38     Mitsubishi
39         Nissan
40         Pagani
41       Polestar
42        Porsche
43            Ram
44          Rimac
45         Rivian
46    Rolls-Royce
47          Skoda
48         Subaru
49          Tesla